/* mobile responsive style  */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
        padding: 10px 10px;
        align-items: center;

     }
   
    
    ul{
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .btn{
        margin-top: 20px;
        margin-right: 40px;
    }
    .banner{
        flex-direction: column-reverse;
       
    }
    .banner img, .gamer img{
        width: 100%;
    }
    .banner-btn{
        display: flex;
    }

    .gamer{
        flex-direction: column;
        margin: 0;
    }

    .gamer-content{
        text-align: center;
       align-items: center;
    }
  .no-download{
    flex-direction: column;
    margin: 0;
    
  }
.no-download-content{
    margin-bottom: 0;
}
.no-download-title{
text-align: center;
}
.no-download-des{
    text-align: center;
}

.no-download-img{
    padding: 0 35px;
}
.img2{
    width: 90%;
    margin-left: 40px;
}

.img3{
    position: relative;
    bottom: 200px;
    height: 60%;
    width: 60%;
    margin-left: 0px;
    
}


}